.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  @media (max-width: $mantine-breakpoint-xs) {
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--mantine-spacing-sm);
  }
}
